html, body {
  margin: 0;
  padding: 0;
  color: #8e919e;
  font-family: 'Fira Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul > li > i {
  margin-right: 5px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #8e919e;
}

article {
  display: inline-block;
}

.wrapper {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  height: inherit;
  padding: 0 15px 0 15px;
}

.menu {
  background-color: #222629;
  overflow: hidden;
  height: 55px;
  position: relative;
  z-index: 10;
}

.menu a:hover {
  color: #00bff3;
}

.menu .horizontal {
  margin: 0;
  line-height: 55px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  max-width: 50%;
}

ul.horizontal > li {
  display: inline-block;
  padding: 0 15px 0 15px;
}

ul.horizontal > li:first-child {
  padding-left: 0;
}

ul.horizontal > li:last-child {
  padding-right: 0;
}

.logo {
  width: 100px;
  vertical-align: middle;
}

#inicio {
  height: calc(100vh);
  background-color: #f04e4e;
  color: #fff;
  margin-top: -55px;
}

.title {
  font-weight: normal;
  font-size: 48px;
}

#inicio .title {
  margin-top: 0;
  padding-top: 0;
}

#inicio ul > li {
  padding-bottom: 10px;
}

#inicio ul > li:last-child {
  padding-bottom: 0;
}

#sobre {
  min-height: calc(100vh - 55px);
  background-color: #fff;
  position: relative;
  padding: 55px 0 0 0;
}

#sobre::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  border-top: 20px solid #f04e4e;
  left: 50%;
  top: 0;
}

#sobre .item {
  max-width: calc(100% / 3);
  display: inline-block;
  /*padding: 20px;*/
  text-align: center;
  float: left;
}

#sobre .item img {
  width: calc(100% - 20px);
  padding: 0px 10px;
}

#sobre article span {
  font-size: 12px;
}

#precos {
  min-height: calc(100vh - 55px);
  background-color: #fafafa;
  position: relative;
  padding: 0 0 55px 0;
}

#precos .table {
  width: 100%;
  text-align: center;
  color: #fff;
  table-layout: fixed;
  border-spacing: 0;
}

#precos .table  h2 {
  margin-top: 0;
}

.table .table-header th {
  padding: 20px;
}

.table tbody td {
  padding: 20px;
}

.table tbody tr:last-child td {
  padding-bottom: 30px;
}

.table .button {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  display: inline-block;
}

.table .table-orange .button:hover {
  background-color: #fff;
  color: #f16529;
}

.table .table-blue .button:hover {
  background-color: #fff;
  color: #29a9df;
}

.table .table-yellow .button:hover {
  background-color: #fff;
  color: #fbde34;
}

.table .table-orange {
  background-color: #f16529;
}

.table .table-yellow {
  background-color: #fbde34;
}

.table .table-blue {
  background-color: #29a9df;
}

.table > .table-header {
  width: 100%;
}

.table > .table-header .table-orange {
  background-color: #e44d26;
}

.table > .table-header .table-yellow {
  background-color: #efc725;
}

.table > .table-header .table-blue {
  background-color: #0170ba;
}

#contato {
  background-color: #0170ba;
  position: relative;
  padding: 0 0 55px 0;
  color: #fff;
}

#contato form label {
  text-transform: uppercase;
}

#contato form input, #contato form textarea {
  display: block;
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  /* border-radius: 30px; */
  padding: 20px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  resize: none;
  margin-top: 5px;
  border-bottom: 1px solid white;
}

#contato form input:active, #contato form textarea:active, #contato form input:focus, #contato form textarea:focus {
  outline: 1px solid #e0e0e0;
}


#contato form button {
  padding: 10px 35px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  background: transparent;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

#contato form button:hover {
  background: #fff;
  color: #0170ba;
}

::-webkit-input-placeholder {
  color: #e0e0e0;
  font-family: 'Fira Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: #e0e0e0;
  font-family: 'Fira Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #e0e0e0;
  font-family: 'Fira Sans', sans-serif;
}

:-ms-input-placeholder {
  color: #e0e0e0;
  font-family: 'Fira Sans', sans-serif;
}

#contato form > .group {
  padding: 20px 0 20px 0;
}

footer {
  background-color: #222629;
  padding: 50px;
}

a.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #f04e4e;
  border-radius: 50%;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  display: none;
}
